h1{
    color:lightcyan;
  } 

  .square {
    width: 50%;
  }

  #lightpink {
    background-color: #FFB6C1
  }

  #lightblue {
    background-color: #87CEFA
  }

  #lightgreen {
    background-color: #98FB98
  }

  #lightyellow {
    background-color: #ffffe0
  }